.custom.solid-select-container {
    color: #000000;
}

.custom .solid-select-control {
    outline-color: #d1d5db;
    border-color: #d1d5db
}

.custom .solid-select-placeholder {
    color: #d1d5db;
}

.custom .solid-select-option:hover {
    background-color: #307ef2;
    color: #fff;
}

.custom .solid-select-option[data-focused=true] {
    background-color: #307ef2;
    color: #fff;
}

.custom .solid-select-list {
    background-color: #fff;
    max-height: 40dvh;
}